.btn{
    width: 12rem;
    height: 1rem;
    background: #797979;
    color: #fff;
    text-align : center;
    align-items : center;
    padding: 1rem;
    border-radius: .4rem;
    cursor: pointer;
    margin: auto;
}

.lorem{
    width: 12rem;
    height: 1rem;
    background: #2d2c2c;
    color: #fff;
    text-align : center;
    align-items : center;
    padding: 1rem;
    border-radius: .4rem;
    cursor: pointer;
    margin: auto;
   
}